* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
}

input {
    width: 100%;
    font: inherit;
    color: inherit;
    background: white;
    border: 1px solid gray;
}

.flex {
    display: flex;
    justify-content: end;
}

.right {
    text-align: right;
}

.income {
    color: green;
}
.expense {
    color: red;
}
.balance {
    font-weight: bold;
}

.main-input-row {
    display: grid;
    grid-template-columns: auto 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 2fr 2fr 4fr;
}