* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
}

input {
    font: inherit;
    color: inherit;
}

.income {
    color: green;
}
.expense {
    color: red;
}
.balance {
    font-weight: bold;
}